<div class="white-content">
  <%= form_for @page, html: { class: "clearfix main-form" }  do |f| %>
      <h2><%= t '.form_description' %></h2>
      <!-- ERRORS -->
      <% if @page.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@page.errors.count, t('generic.error_while_saving.one'), t('generic.error_while_saving.other') ) %>
            </h2>
            <ul>
              <% @page.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <%= f.label :name, class:"required" %>
              <%= f.text_field :name %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.label :page_title, class:"required" %> <span class="chars-count">(<span>70</span>)</span>
              <%= f.text_field :page_title %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.label :meta_description, class:"required" %> <span class="chars-count">(<span>156</span>)</span>
              <%= f.text_area :meta_description %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.check_box :is_index %>
              <%= f.label :is_index %></span>
            </div>
          </div>
          <div class="pull-right">
            <%= f.submit nil, :class => 'btn btn-primary' %>
          </div>
        </div>
        <aside class="col-md-4" id="browser-preview">
          <p class="page-title"><%= t '.page_title' %></p>
          <p class="page-url">
            <span>https://</span>
            <span class="domain-name"></span>
            <span class="page-name-slug"></span>
          </p>
          <p class="page-description"><%= t '.meta_description'%></p>
        </aside>
      </div>
  <% end %>
</div>