<div class="row gallery">
  <% @pictures.each do |picture| %>
    <div class="col-lg-2 col-sm-3 col-xs-6">
      <div class="box-gallery">
        <div class="content-flex">
          <%= image_tag picture.file(:small), onerror:"this.onerror=null;this.src='#{image_url('no-image.png')}';", data: {id: picture.id} %>
        </div>
        <% if controller_name == 'pictures' %>
          <nav>
            <ul>
              <li>
                <%= link_to edit_admin_picture_path(picture), :class => 'btn edit-picture' do %>
                    <%= material_icon.mode_edit %>
                <% end %>
              </li>
              <li>
                <%= link_to admin_picture_path(picture), method: :delete, data: { confirm: t('confirm_delete') }, :class => 'btn' do %>
                    <%= material_icon.delete %>
                <% end %>
              </li>
            </ul>
          </nav>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= form_for Admin::Picture.new, remote: true do |f| %>
      <div class="col-lg-2 col-sm-3 col-xs-6">
        <div class="box-gallery">
          <%= f.label :file, class: "drop-target" do %>
              <%= material_icon.cloud_upload %>
          <% end %>
          <%= f.file_field :file, class: "hidden drop-input" %>
        </div>
      </div>
  <% end %>
</div>

<%= render 'admin/pictures/edit_picture_modal' %>

