<section class="clearfix margin-bot-20">
  <div class="container">
    <div class="white-content">
      <%= form_for(@post, html: { class: "main-form clearfix", id: "post-form" }) do |f| %>
          <h2><%= t '.form_description' %></h2>
          <%= render 'admin/shared/error_messages', target: @post %>
          <%= f.text_field :picture_id, class: "hidden" %>
          <div class="pull-left center-630" style="width:17rem">
            <div class="row">
              <div class="col-md-12">
                <% if @post.picture %>
                    <%= image_tag @post.picture.file(:small), onerror:"this.onerror=null;this.src='#{image_url('no-image.png')}';", class: "picture-preview total" %>
                <% else %>
                    <%= image_tag 'no-image.png', class: "picture-preview total" %>
                <% end %>
                <%= link_to "#!", class: "btn btn-danger total margin-top-20", style: "font-size:1.2rem", data: { toggle: "modal", target: "#gallery-modal" } do %>
                    <% if @post.picture %>
                      <%= t('.change_thumbnail') %>
                    <% else %>
                      <%= t('.add_thumbnail') %>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="pull-left form-content-next-thumbnail">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :title, class:"required" %>
                <%= f.text_field :title, required: true %>
              </div>
              <div class="col-md-6">
                <%= f.label :category_ids, class:"required" %>
                <%= f.select :category_ids, options_for_select(Admin::Category.all.map { |x| [x.name, x.id]}, Admin::Category.all.where(id: 1).first.id ),{ include_hidden: false },class: "select2", multiple: true %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.label :status, class:"required" %>
                <%= f.select :status, Admin::Post::STATUS_TYPES.map{ |key| I18n.t(key, scope: "status") }, {}, class: "select2" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.label :content %>
                <%= f.text_area :content, class: 'froala' %>
              </div>
            </div>
            <div class="pull-right">
              <%= f.submit class: "btn btn-primary" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</section>

<%= render 'gallery_modal' %>
