<section class="clearfix main-container">
  <ul class="main-container-settings">
    <div class="pull-right">
      <li>
        <%= link_to "#!",  do %>
            <%= material_icon.settings %>
        <% end %>
      </li>
      <li>
        <%= link_to "#!", class: "duplicate-main-container" do %>
            <%= material_icon.library_add %>
        <% end %>
      </li>
      <li>
        <%= link_to "#!", class: "column-main-container", data: {toggle: "modal", target: "#column-modal"}  do %>
            <%= material_icon.view_column %>
        <% end %>
      </li>
      <li class="">
        <%= link_to "#!", class: "delete-main-container" do %>
            <%= material_icon.delete_forever %>
        <% end %>
      </li>
    </div>
  </ul>
  <div class="container">
    <div class="module-container">
      <div class="row">
        <article class="col-md-12 text-module">
          <h1>Lorem Ipsum</h1>
          <p>
            Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
