<ul id="modules-type" data-url="<%# change_columns_layout_admin_page_url %>">
  <div class="row">
    <li class="col-md-4" data-type="text">
      <div class="module">
        <%= material_icon.description %>
        <p><%= t '.text' %></p>
      </div>
    </li>
    <li class="col-md-4" data-type="image">
      <div class="module">
        <%= material_icon.insert_photo %>
        <p><%= t '.image' %></p>
      </div>
    </li>
    <li class="col-md-4" data-type="video">
      <div class="module">
        <%= material_icon.local_movies %>
        <p><%= t '.video' %></p>
      </div>
    </li>
  </div>
  <div class="row">
    <li class="col-md-4" data-type="blog">
      <div class="module">
        <%= material_icon.question_answer %>
        <p><%= t '.blog' %></p>
      </div>
    </li>
    <li class="col-md-4" data-type="slideshow">
      <div class="module">
        <%= material_icon.view_carousel %>
        <p><%= t '.slideshow' %></p>
      </div>
    </li>
    <li class="col-md-4" data-type="form">
      <div class="module">
        <%= material_icon.web %>
        <p><%= t '.form' %></p>
      </div>
    </li>
  </div>
</ul>