<section class="clearfix margin-bot-20">
  <div class="container">
    <div class="white-content">
      <%= form_for(@category, html: { class: "main-form clearfix", id: "category-form" }) do |f| %>
          <h2><%= t '.form_description' %></h2>
          <%= render 'admin/shared/error_messages', target: @category %>
          <div class="row">
            <div class="col-md-12">
              <%= f.label :name, class:"required" %>
              <%= f.text_field :name, required: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.label :description %>
              <%= f.text_area :description, rows: 5 %>
            </div>
          </div>
          <div class="pull-right">
            <%= f.submit nil, class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</section>