<header id="main-header">
  <div id="company-data" class="clearfix">
    <div class="pull-left">
      a
    </div>
    <i class="material-icons pull-right" id="min-nav-btn">
      format_indent_decrease
    </i>
    <i class="material-icons" id="burger-menu-close">
      close
    </i>
  </div>
  <nav id="main-nav">
    <ul>
      <div>
        <li>
          <h2><%= t '.overview' %></h2>
        </li>
        <li>
          <%= link_to admin_url do %>
            <%= material_icon.home %>
            <p><%= t '.home' %></p>
          <% end %>
        </li>
      </div>
      <div>
        <li>
          <h2><%= t '.users' %></h2>
        </li>
        <li>
          <%= link_to admin_users_url do %>
              <%= material_icon.people %>
              <p><%= t '.users' %></p>
          <% end %>
        </li>
        <li>
          <%= link_to edit_admin_user_url(current_user) do %>
              <%= material_icon.face %>
              <p><%= t '.my_profile' %></p>
          <% end %>
        </li>
      </div>
      <div>
        <li>
          <h2><%= t '.content' %></h2>
        </li>
        <li>
          <%= link_to admin_pages_url do %>
              <%= material_icon.description %>
              <p><%= t '.pages' %></p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_pages_url do %>
              <%= material_icon.recent_actors %>
              <p><%= t '.posts' %></p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_pages_url do %>
              <%= material_icon.flag %>
              <p><%= t '.categories' %></p>
          <% end %>
        </li>
      </div>
    </ul>
  </nav>
</header>