<header id="second-header">
  <div class="page">
      <div class="container">
        <ul id="header-user-shortcuts">
          <li>
            <i class="material-icons" id="burger-menu-open">menu</i>
          </li>
          <li id="locale">
            <%= link_to "", "#!", class: "flag-icon flag-icon-#{current_user.locale}" %>
            <ul>
              <h4>
                <%= t '.langue' %>
              </h4>
              <div class="content">
                <% @locales = ["fr","gb"] %>
                <% @locales.each do |locale| %>
                    <li>
                      <i class="flag-icon flag-icon-<%= locale %>"></i>
                      <%= link_to t(locale), controller: 'users', action: 'update_locale', id: locale %>
                    </li>
                <% end %>
              </div>
            </ul>
          </li>
        </ul>
        <ul id="user-data">
          <li>
            <a href="#!">
              <div class="content-flex avatar-thumbnail pull-left">
                <%= image_tag current_user.avatar(:thumb), onerror:"this.onerror=null;this.src='#{image_url('no-image.png')}';" %>
              </div>
              <p class="pull-left">
                <%= current_user.first_name %> <%= current_user.last_name %>
                <%= material_icon.keyboard_arrow_down %>
              </p>
            </a>
            <ul>
              <li class="user-profile">
                <div class="content-flex pull-left">
                  <%= image_tag current_user.avatar(:small), onerror:"this.onerror=null;this.src='#{image_url('no-image.png')}';" %>
                </div>
                <div class="pull-left">
                  <p>
                    <%= current_user.first_name %> <%= current_user.last_name %>
                    <span><%= current_user.email%></span>
                  </p>
                  <%= link_to t('.edit_my_profile'), edit_admin_user_url(current_user) %>
                </div>
              </li>
              <li class="user-shortcut">
                <ul>
                  <li>
                    <%= link_to t('.change_my_password'), my_password_admin_user_url(current_user) %>
                  </li>
                </ul>
              </li>
              <li class="user-logout">
                <%= link_to( t('.logout'), destroy_user_session_path, :method => :delete, class: "btn btn-primary") %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</header>