<header id="page-header">
  <div class="container">
    <div class="pull-left">
      <h1><%= t '.page_title' %></h1>
      <p class="subtitle">
        <%= t '.page_description' %>
      </p>
    </div>
    <%= link_to t('.create_user'), new_admin_user_url , class: "pull-right btn btn-primary" %>
  </div>
</header>

<% if flash[:alert] %>
    <div class="container">
      <p class="alert alert-error">
        <%= flash[:alert] %>
      </p>
    </div>
<% end %>
<% if flash[:notice] %>
    <div class="container">
      <p class="alert alert-success">
        <%= flash[:notice] %>
      </p>
    </div>
<% end %>

<section class="clearfix margin-bot-20">
  <div class="container">
    <div class="white-content">
      <div class="table-responsive">
        <table class="main-table datatable">
          <thead>
          <th class="no-sorting no-padding-right no-border-right" width="8%"><%= t '.user' %></th>
          <th class="no-padding-left no-border-left">&nbsp</th>
          <th><%= t '.contact' %></th>
          <th><%= t '.address' %></th>
          <th width="70"><%= t '.admin' %></th>
          <th class="no-sorting" width="60"><%= t '.actions' %></th>
          </thead>
          <tbody>
          <% @users.each do |user| %>
              <tr>
                <td class="no-padding-right no-border-right">
                  <div class="content-flex avatar">
                    <img src="<%= user.avatar(:thumb) %>">
                  </div>
                </td>
                <td class="no-padding-left no-border-left">
                  <%= user.first_name %>
                  <%= user.last_name %>
                </td>
                <td>
                  <a href="mailto:<%= user.email %>" class="mailto">
                    <%= user.email %>
                  </a>
                </td>
                <td>
                  <%= user.address %>
                  <%= user.city %>
                  <%= user.zip_code %>
                </td>
                <td class="center-text ">
                  <i class="material-icons chip <%= user.has_role? :admin %>">
                    fiber_manual_record
                  </i>
                </td>
                <td>
                  <div style="width:72px!important">
                    <!-- EDIT -->
                    <%= link_to edit_admin_user_path(user), :class => 'btn btn-primary' do %>
                        <%= material_icon.mode_edit %>
                    <% end %>
                    <!-- DELETE -->
                    <%= link_to admin_user_path(user), method: :delete, data: { confirm: t('confirm_delete') }, :class => 'btn btn-danger' do %>
                        <%= material_icon.delete %>
                    <% end if current_user != user %>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
