<header id="page-header">
  <div class="container">
    <h1>
      <%= @user.first_name %>
      <%= @user.last_name %>
    </h1>
    <p class="subtitle">
      <%= t '.page_description' %>
    </p>
  </div>
</header>

<% if flash[:alert] %>
    <div class="container">
      <p class="alert alert-danger">
        <%= flash[:alert] %>
      </p>
    </div>
<% end %>
<% if flash[:notice] %>
    <div class="container">
      <p class="alert alert-success">
        <%= flash[:notice] %>
      </p>
    </div>
<% end %>

<section class="clearfix">
  <div class="container">
    <div class="white-content">
      <%= form_for(@user, url: "update_password", html: { class: "main-form clearfix", id: "update-password-form" }, :method => :POST) do |f| %>
          <h2><%= t '.form_description' %></h2>
          <%= render 'admin/shared/error_messages', target: @user %>
          <div class="row">
            <div class="col-md-4">
              <%= f.label :current_password, class: "required" %>
              <%= f.password_field :current_password, :autocomplete => "off", required: true %>
            </div>
            <div class="col-md-4">
              <%= f.label :password, class: "required" %>
              <%= f.password_field :password, required: true %>
            </div>
            <div class="col-md-4">
              <%= f.label :password_confirmation, class: "required" %>
              <%= f.password_field :password_confirmation, required: true %>
            </div>
          </div>
          <div class="pull-right">
            <%= f.submit nil, :class => "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</section>