<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to t('.pages'), "#pages", data: {toggle: "collapse", parent: "#accordion"} %>
      </h4>
    </div>
    <div id="pages" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
          <% @pages.each do |page| %>
            <li>
              <%= check_box_tag page.id %>
              <%= label_tag page.id, page.name %>
            </li>
          <% end %>
          <div class="actions">
            <%= link_to t('.select_all'), "#!", class: "select-all-content" %>
            <%= link_to t('.add_to_menu'), "#!", class: "btn btn-danger" %>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to t('.categories'), "#categories", data: {toggle: "collapse", parent: "#accordion"} %>
      </h4>
    </div>
    <div id="categories" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <% @categories.each do |category| %>
            <li>
              <%= check_box_tag category.id %>
              <%= label_tag category.id, category.name %>
            </li>
          <% end %>
          <div class="actions">
            <%= link_to t('.select_all'), "#!", class: "select-all-content" %>
            <%= link_to t('.add_to_menu'), "#!", class: "btn btn-danger" %>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to t('.posts'), "#posts", data: {toggle: "collapse", parent: "#accordion"} %>
      </h4>
    </div>
    <div id="posts" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <% @posts.each do |post| %>
            <li>
              <%= check_box_tag post.id %>
              <%= label_tag post.id, post.title %>
            </li>
          <% end %>
          <div class="actions">
            <%= link_to t('.select_all'), "#!", class: "select-all-content" %>
            <%= link_to t('.add_to_menu'), "#!", class: "btn btn-danger" %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>