<!DOCTYPE html>
<html>
<head>
  <title> <%= controller.controller_name.humanize.capitalize %> | Admin </title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <%= stylesheet_link_tag    'admin_panel', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin_panel', 'data-turbolinks-track': 'reload' %>
</head>

<body class="active-loader">
  <%= render 'admin/layouts/main_header' %>
  <%= render 'admin/layouts/second_header' %>
  <%= render 'admin/layouts/page_loader' %>
  <div class="page">
    <%= yield %>
  </div>
  <%= render 'layouts/js_locales_info' %>
</body>
</html>
